
@model JavniSite.Models.Login
@{
    ViewBag.Title = "User Profile";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AfterLogin</title>
</head>
<body>

    <div>

        <input type="text" id="txtName" value="@Model.username"> //Get user's name
    </div>
</body>
</html>
